# assets
.sass-cache/
public/uploads
public/assets
spec/support/uploads/*
uploads/*


# config
config/email.yml
.rubocop.yml
database.yml
newrelic.yml
redis.yml
setup_mail.rb

# database
db/*.sqlite3
dump.rdb
script/db
*.sql
*.sqlite*

# log
*.log
nohup.out
log

# rvm & bundle
.bundle
.rvmrc
Gemfile.lock

# tests
.rspec
coverage/

# temp
tmp/

# system
.DS_Store

!.gitignore
