# assets
.sass-cache/
public/uploads
public/assets
spec/support/uploads/*
uploads/*


# config
.rubocop.yml
database.yml
newrelic.yml
redis.yml

# database
db/*.sqlite3
dump.rdb
script/db
*.sql
*.sqlite*

# log
*.log
nohup.out
log/

# bundle
.bundle

# tests
.rspec
coverage/

# temp
tmp/

# system
.DS_Store

!.gitignore
