<div class='row'>

  <div class='col-md-3'>
    <%= form_tag({controller: 'search', action: 'index'}) do %>
      <div class='input-group input-group-sm'>
        <%= text_field_tag(:search_field, '',class: 'form-control' ) %>
        <span class='input-group-btn'>
          <%= button_tag('Buscar', class: 'btn btn-default', type: 'submit') %>
        </span>
      </div> <!--input-group-->
    <% end %>
  </div>

  <div class='col-md-9'>
    <% @index.each do |e| %>
      <div>
        <br/>
          <%= e.join('<br/>').html_safe %>
        <br/>
      </div>
    <% end %>
  </div>

</div>
