<!--Information-->
<div class="row">
	<dl class="dl-horizontal">
		<dt>Título</dt> <dd>title</dd>
		<dt>Data</dt> <dd>date</dd>
		<dt>Status</dt> <dd>status</dd>
		<dt>Créditos</dt> <dd>credits</dd>
		<dt>Resumo</dt> <dd>abstract</dd>
		<dt>Palavras-chave</dt> <dd>keywords</dd>
	</dl>
</div>
<!--point of contact-->
<div class="row">
		<div class="col-md-6 ">
			<dl class="dl-horizontal">
				<dt>Nome</dt> <dd>name</dd>
				<dt>Organização</dt> <dd>organization</dd>
				<dt>Função</dt> <dd>role</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>Endereço</dt>
				<dd>address</dd>
				<dd>city / state - country</dd>
				<dd>zipcode</dd>
				<dd>phone</dd>
				<dd>email</dd>
			</dl>
		</div>
</div>
<!--quality-->
<div class="row">
	<dl class="dl-horizontal">
		<dt>Nível hierárquico</dt> <dd>scope</dd>
		<dt>Declaração</dt> <dd>statement</dd>
		<dt>Frequência de manutenção/atualização</dt> <dd>maintainance</dd>
	</dl>
</div>
<!--metadata-->
<div class="row">
	<dl class="dl-horizontal">
		<dt>Identificador</dt><dd><%= @uuid %></dd>
		<dt>Idioma</dt><dd>language</dd>
		<dt>Codificação de caracteres</dt><dd>character_set</dd>
		<dt>Norma e perfil de metadados</dt><dd>standard_name</dd>
		<dt>Versão da norma de metadados<dt><dd>standard_version</dd>
	</dl>
</div>
<!--metadata author-->
<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>Nome</dt> <dd>author_name</dd>
			<dt>Organização</dt> <dd>author_organization</dd>
			<dt>Função</dt> <dd>author_role</dd>
		</dl>
	</div>
	<div class="col-md-6">
		<dl>
			<dt>Endereço</dt>
			<dd>author_address</dd>
			<dd>author_city / author_state - author_country</dd>
			<dd>author_cep</dd>
			<dd>author_phone</dd>
			<dd>author_email</dd>
		</dl>
	</div>
</div>
