<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to 'Sobre Metadados', about_metadata_path %></li>
      <li><%= link_to 'Sobre o Projeto', about_project_path %></li>
    </ul>
  </nav>
</footer>
