<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Logo', root_path, id: 'logo' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav pull-right">
          <li><%= link_to 'Sobre Metadados', about_metadata_path %></li>
          <li><%= link_to 'Sobre o Projeto', about_project_path %></li>
        </ul>
    </div>
  </div>
</header>
